body
{background: #E5E5E5;}

.top
{position: absolute;
width: 414px;
height: 62px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);}

.prizes
{/* םיסרפ */


position: absolute;
width: 91px;
height: 34px;
left: 9px;
top: 14px;

font-family: Arimo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #000000;
}

.specialLogo
{position: absolute;
width: 118.39px;
height: 36.45px;
left: 233px;
top: 12px;
}

.line1
{position: absolute;
width: 32px;
height: 0px;
left: 369px;
top: 19px;

border: 4px solid #19C3D0;}

.line2
{position: absolute;
width: 32px;
height: 0px;
left: 369px;
top: 31px;

border: 4px solid #19C3D0;}

.line3
{position: absolute;
width: 32px;
height: 0px;
left: 369px;
top: 43px;

border: 4px solid #19C3D0;}

.presentBox
{position: absolute;
width: 38px;
height: 38px;
left: 106px;
top: 8px;
}

.text
{/* םיענ אל והשמ ,באוכו הדימב */


position: absolute;
width: 405px;
height: 34px;
left: 5px;
top: 148px;

font-family: Arimo;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #000000;
}

.Jimi
{position: absolute;
width: 374.12px;
height: 467.66px;
left: 20px;
top: 214px;
}

.text2
{/* ךסמה לע הציחלב ןומיאה תא םירצוע */


position: absolute;
width: 405px;
height: 29px;
left: 5px;
top: 694px;

font-family: Arimo;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #000000;
}

.text3
{/* רצעיי ןוטרסה ןומיאה םויסב וא */


position: absolute;
width: 405px;
height: 29px;
left: 1px;
top: 735px;

font-family: Arimo;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
/* identical to box height */

text-align: center;

color: #000000;
}

.youtubeLine
{position: absolute;
width: 414px;
height: 45px;
left: 0px;
top: 851px;

background: #000000;}

.youtubeLine2
{position: absolute;
width: 414px;
height: 8px;
left: 0px;
top: 851px;
}

.playButton
{position: absolute;
width: 18px;
height: 18px;
left: 33px;
top: 867px;

background: #C4C4C4;
transform: rotate(90deg);}

.backYoutubeButton
{position: absolute;
width: 22px;
height: 18px;
left: 82px;
top: 867px;
}

.forwardYoutubeButton
{position: absolute;
width: 22px;
height: 18px;
left: 120px;
top: 867px;
}

.micButton
{position: absolute;
width: 28.57px;
height: 26.66px;
left: 377px;
top: 863px;
}

.next
{position: absolute;
width: 193px;
height: 53px;
left: 217px;
top: 775px;

filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}

.next2
{position: absolute;
width: 193px;
height: 53px;
left: 9px;
top: 775px;

filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
}
